.card-img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.div-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-detail {
   background-color:  #28a745;
}
