@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

.number-fav {
    background-color: red;
    color: white;
    border-radius: 50px;
}

.letter-fav {
    color: white;
    font-family: 'Shantell Sans', cursive;
}

.drop-scroll {
    background-color: black;
    color: white;
}